{% extends "master.html" %}

{% block title %}
  Тренажер по химии
{% endblock %}

{% block content %}
  <div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Тренажер по химии</h1>
  <p>Скоро здесь будет удобное приложение!</p> 

  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <h3>Формулы</h3>
        <p>Список всех сохраненных <a href="trainer/">формул</a>.</p> 
        <p><a href="trainer/add_formula">Форма</a>, чтобы загрузить новые</p> 
      </div>
      <div class="col-sm-6">
        <h3>Минералы</h3>
        <p>Здесь будет список из сохраненных минералов и иллюстраций к ним, а также ссылка на форму, чтобы загрузить новые.</p>
      </div>
    </div>
  </div>
{% endblock %}