{% extends "master.html" %}

{% block title %}
Химические вещества
{% endblock %}

{% block content %}
<div class="container py-5">
    <a href="/" class="btn btn-outline-primary mb-4">
        <i class="bi bi-arrow-left"></i> На главную
    </a>

    <h1 class="text-center mb-5">Химические вещества</h1>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for image in images %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{{ image.image.url }}" class="card-img-top img-fluid p-2" alt="{{ image.name }}" style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ image.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}